h1 {
    font-size: 65px;
    color: orange;
}

ul {
  background-color: #3607b9
}

.change-colors {
  background-color: #0795b9;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
}

body {
    font-size: 16px;
    font-style: oblique;
    line-height: inherit;
    text-decoration: underline
}

p {
    font-size: 3em;
}

.center {
    text-align: center;
    list-style-position: inside;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}